body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(235, 232, 232);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #0c0f0a;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  z-index: 2;
}

.logo {
  margin-left: 10px;
  font-family: cursive;
}


.textNav{
display:flex;
 text-align: center;
 align-items: center; 
 margin-top: 4px;
}

.navItems {
  position: absolute;
  background-color: #0c0f0a;
  color: white;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ffffff;
  top: 60px;
  transition: all 0.5s ease-in-out;
}

.navItemsDesktop{
  display: none;
}

.navItems p {
  width: 40%;
  margin-left: 30%;
  padding: 2px 0px;
}
.carticon{
    

  margin-top: 3px;
}


.navItems p:hover {
  outline: 1px solid #ffffff;
  border-radius: 5px;
  color: #41ead4;
  cursor: pointer;
}

/* categories */

.category {
  margin-top: 30px;
  height: 300px;
  /* width: 80%;
  margin-left: 10%; */
 
  background-color: black;
  color: white;
  border-radius: 10px;

}

.category p {
  text-align: justify;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10px;
  height: 100px;
}

.category h2 {
  padding: 10px;
  text-decoration: underline;
  text-decoration-color:  #ffd700;
}

.categoriesDiv {

  justify-content: center;
  display: grid;
  grid-template-columns: 80%;
}

.categoriesDiv h1 {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 27px;
  padding-top: 10px;

}

/* .slashed{
  text-decoration: line-through;
  text-decoration-color: #ff206e;
  
} */

.categoryBtn {
  background-color: #ffd700;
  width: 100px;
  text-align: center;
  padding: 5px;
  color: black;
  border-radius: 4px;
  font-size: 17px;
  margin-left: 10%;
}

/* animating and aligning the mobile menu */
.ham {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}


.hamBar {
  background-color: white;
  width: 30px;
  height: 3px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}



/* Car display div */

.carDisplayDiv{
  display: grid;
grid-template-columns: 87%;


justify-content: center;
}

.carDisplay {
  height: 430px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(151, 150, 150);

  background-color:white;

}



.carDisplay img {
 height:250px;
  width: 100%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pricing_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;

}

.car-btn {
 
  cursor: pointer;
  padding: 4px;
  border-radius: 3px;
  width: 25%;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;

  background-color: #0c0f0a;
  color: #ffd700;

}



.header {
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}

.cart-btn {
  font-weight: bold;
  cursor: pointer;
  outline:1px solid #ffd700 ;
  padding: 5px;
  background-color: #ffd700;
  width: 60%;
  margin-left: 20%;
  outline-offset: 5px;
border-radius: 3px;
text-align: center;

}



.discount {
  background-color: #ff206e;
  position: absolute;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 10px;
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite;
  -o-animation: pulse 1s infinite;
  -ms-animation: pulse 1s infinite;
  z-index: 1;
}

@keyframes pulse {

  50% {
    box-shadow: 0px 0px 10px white;

  }

}

/* car specification div */
.spec {
  text-align: center;
  background-color: black;
  border-radius: 10px;
  width: 80%;
  color: white;
  margin: 50px 0px 50px 10%;

  padding-bottom: 5px;
}

.spec h2 {
  padding-top: 30px;
  text-decoration: underline;
  text-decoration-color: #ffd700;
}

.spec p {
  text-align: justify;
  text-align-last: left;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 10px;

}

.contact-btn {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  background-color: #ffd700;
  width: 40%;
  margin-bottom: 30px;
  border-radius: 5px;
  margin-left: 30%;
  padding: 5px 0px;
  cursor: pointer;
  color: black;

}

footer {
  background-color: black;
  color: white;
}

.footerDiv {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.footerDiv div {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-between;
}
/* cart */
.cartNo{
 

text-align: center;
  position: absolute;
  color: #ff206e;
margin-top: -40px;
margin-left: 20px;
  font-weight: bold;
}

.back{
position: absolute;
left: 20px;
top: 86px;

}
.cartHeader{
margin-top: 80px;
text-align:center;
margin-bottom: 50px;

}

.cartHeader img{
width: 90%;

}
 .cartHeader h3{
  
   font-size:24px;
} 

.cart{display: flex;
align-items: center;
border-top: 1px solid rgb(219, 218, 218);
width: 90%;

margin: 10px 0px 5px 5%;

}
.cart img{
  width: 100px;
  margin-right: 10px;
  border-radius: 5px;
}
.cart p{
  font-size: 14px;
}
.cart h4{font-size: 16px;}

.cart div{width:50%;}

.total{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-left: 7.5%;
}

.total p{
  font-size: 15px;
}

.checkout-btn{
  text-align:center;
display: flex;
justify-content: center;

}

  .checkout-btn h4{
    padding: 5px;
    width:200px;
    background-color:#ffd700;
    border-radius:5px;
  }

  .remove-btn{
    background-color: #ff206e;
    margin-left: 10px;
    padding: 2px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    width: 65px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
  }

  a{text-decoration: none;
  color: inherit;}

 @media screen and (min-width:440px) {
  
 
  
.carDisplayDiv{

grid-template-columns: 81%;

}
.cartHeader img{
  width: initial;
  
  }


 }
 
 @media screen and (min-width:500px) {
  
 
  
.carDisplayDiv{

grid-template-columns: 71%;

}
.cart{

  width: 80%;
  margin-left: 10%;}

  .total{
   
    width: 75%;
    margin-left: 12.5%;
  }


 }



 
 @media screen and (min-width:600px) {
  
 
  .ham{display: none;}

  .textNav{
    display:flex;
     text-align: center;
     align-items: center; 
    margin-top: 0px;
     width: 70%;
     justify-content: space-between;
    }
    .carticon{
    

      margin-left:20px;
      margin-right: 20px;
    }
  
  
.navItemsDesktop{
  display: flex;
  width: 100%;
justify-content: space-between;
  color: white;
align-items: center;

}
  
.navItemsDesktop p {

  padding:0px 10px;
}



.navItemsDesktop p:hover {
  outline: 1px solid #ffffff;
  border-radius: 5px;
  color: #41ead4;
  cursor: pointer;
}

.categoriesDiv {
 
  grid-template-columns:48% 48%;
  column-gap: 2%;
}
  
.carDisplayDiv{

grid-template-columns: 48% 48%;
column-gap: 2%;

}

.cart{

  width: 75%;
  margin-left: 12.5%;}

  .total{
   
    width: 70%;
    margin-left: 15%;
  }


 }

 @media screen and (min-width:800px) {
  
 
  
.carDisplayDiv{

grid-template-columns: 45% 45%;
column-gap: 3%;

}
.cart{

  width: 60%;
  margin-left: 20%;}

  .total{
   
    width: 55%;
    margin-left: 22.5%;
  }

 }
 
 
 @media screen and (min-width:900px) {
  
 

  .header {
    margin-top: 50px;
    font-size: 32px;
    text-align: center;
  }
    
.categoriesDiv {
 
  grid-template-columns:46% 46%;
  column-gap: 2%;
}
  
.carDisplayDiv{

grid-template-columns: 32% 32% 32%;
column-gap: 1%;

}
.spec {

  width: 60%;

  margin: 50px 0px 50px 20%;

}
.cart{

  width: 50%;
  margin-left: 25%;}

  .total{
   
    width: 45%;
    margin-left: 27.5%;
  }

 }


 @media screen and (min-width:1150px) {
  

  
    
.categoriesDiv {
 
  grid-template-columns:24% 24% 24% 24%;
  column-gap: 1%;
}

.carDisplayDiv{

grid-template-columns: 28% 28% 28%;
column-gap: 3%;

}
.spec {

  width: 50%;

  margin: 50px 0px 50px 25%;

}


 }